@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-da-letra:rgba(244, 248, 9, 0.918);
    --cor-de-fundo:#ff6600;
    --fundo-senha:#ff4400;
    --fundo-texto:#ff4500;
    --borda:#f80000de;
    --font:"honk","sans-serif";
    --font2:"raleway","sans-serif";
    --letra:black;
    --campo-senha:rgb(250, 247, 247);

}

body{
    color:var(--cor-da-letra);
    background-color:var(--cor-de-fundo);
    font-family:var(--font2)
}

.conteudo{
    text-align: center;
    font-size: 30px;
    margin: 0 auto;
    width: 20%;
}

img{
    width:100px;
}

.titulo-principal{
    font-size: 50px;
    font-family:var(--font);
    color: black;
}

.titulo-secundario{
    font-size: 30px;
}

.conteudo-titulo{
    text-align: center;
    margin-top: 100px;
    padding: 100px;
}

.conteudo-senha{
    margin-top: 100px;
    background: var(--fundo-senha);
    padding: 35px;
    border-bottom: 7px solid var(--borda);
    border-top: 7px solid var(--borda);
    border-radius: 25px
}

#campo-senha{
    background-color: var(--fundo-senha);
    border: nome;
    color: var(--letra);
    width: 50%;
    border-radius: 20px; 
    font-size: 20px;
}

#campo-senha:focus{
    outline:nome;
    background-color: var(--campo-senha);
}

.parametro{
    font-family: var(--font); 
    background-color: var(--fundo-texto);
    border: 7px solid var(--borda);
    margin-top: 120px;
    padding: 15px;
    border-radius: 25px;
}

.parametro-titulo{
    font-size:40px;
}

#class img{
    width: 15%;
}

.parametro-senha{
    width: 50%;
    margin: 0 auto;
    border-left: 7px solid black;
    font-size: 35px;
    } 

    .checkbox{
        width: 25px;
        height: 30px;
        cursor: pointer;
    }

    .label{
        font-size:20px;
    }
    
 .parametro-coluna-senha{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    .barra{ 
        height: 60px;
        width: 100%; 
        background-color:gray;
    }

    .fraco{
        height: 60px;
        width: 30%;
        background-color: rgb(255, 0, 0);
        position: relative;
        bottom: 60px;
    } 

    .media{
        height: 60px;
        width: 65%;
        background-color: yellow;
        position: relative;
        bottom: 60px;
    }

    .forte{
        height: 60px;
        width: 100%;
        background-color: green;
        position: relative;
        bottom: 60px;
    }

    .parametro-senha-textos{
        display: flex;
        justify-content: space-between;
    }

